<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>TicTacToeGame: game map</title>
</head>
<body>
<h3>Set the size of the field and the number of dots to win</h3>
<form th:method="GET" th:action="@{/gameplay/game/map}">
    <h5>
        <a>All values can be from 3 to 9:</a>
        <br>
        <br>
        <label for="X" > Number of columns - X -> </label>
        <input name="X" type="number" id="X" value="3" required min="3" max="9">
        <br>
        <br>
        <label for="Y" > Number of rows - Y -> </label>
        <input name="Y" type="number" id="Y" value="3" required min="3" max="9">
        <br>
        <br>
        <label for="dots_to_win" > Dots to win= </label>
        <input name="dots_to_win" type="number" id="dots_to_win" value="3" required min="3" max="9">
        <br>
        <br>
        <a><input type="submit" value="Add information"></a>
    </h5>
</form>
</body>
</html>