<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>TicTacToe Game - list gameplay</title>
</head>
<body>
<h1>Select gameplay</h1>
<h3>
    <div th:each="gameplay : ${listGameplay}">
        <a th:href="@{/gameplay/reconstruction/db/{id}(id=${gameplay.getId()})}" th:text="${gameplay.getId()}"></a>
        <a>___</a>
        <a th:text="${gameplay.getName()}"></a>
        <a>___</a>
        <a th:text="${gameplay.getMapSize()}"></a>
    </div>
    <br/>
    <br/>
    <a>OR go to start page App, press -> </a>
    <a href = "/gameplay"><input type="submit" value="Hello Page"></a>
</h3>
</body>
</html>