<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Reconstruction TicTacToe Game by file</title>
</head>
<body>
<h3><p th:text="${msg}"></p></h3>
<h5>
    <div th:each="line : ${lines}">
        <p th:text="${line}"></p>
    </div>
</h5>
<h3>
    <br>
    <a th:text="${text}"></a>
    <a th:href = "${href}"><input type="submit" th:value="${submit}"></a>
    <br>
    <br>
    <a>Go to start page App, press -> </a>
    <a href = "/gameplay"><input type="submit" value="Hello Page"></a>
</h3>
</body>
</html>

